<!DOCTYPE html>
<html>

<head>
  <title>{{ title or Configs.ctf_name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ Configs.ctf_small_icon }}" type="image/x-icon">

  {{ meta | safe }}

  {% block stylesheets %}
  {{ Assets.css("assets/scss/main.scss") }}
  {% endblock %}

  {{ Plugins.styles }}

  {{ Assets.js("assets/js/color_mode_switcher.js", type=None) }}

  <style>
    #particles-js {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1;
    }
  </style>

  <script type="text/javascript">
    window.init = {
      'urlRoot': "{{ request.script_root }}",
      'csrfNonce': "{{ Session.nonce }}",
      'userMode': "{{ Configs.user_mode }}",
      'userId': {{ Session.id }},
      'userName': {{ User.name | tojson }},
      'userEmail': {{ User.email | tojson }},
      'userVerified': {{ User.verified | tojson }},
      'teamId': {{ Team.id | tojson }},
      'teamName': {{ Team.name | tojson }},
      'start': {{ Configs.start | tojson }},
      'end': {{ Configs.end | tojson }},
      'themeSettings': {{ Configs.theme_settings | tojson }},
      'eventSounds': [
        "/themes/core/static/sounds/notification.webm",
        "/themes/core/static/sounds/notification.mp3",
      ],
    }
  </script>

  {{ Configs.theme_header }}
</head>

<body>
  <div id="particles-js"></div>

  {% include "components/navbar.html" %}

  <main role="main">
    {% block content %}
    {% endblock %}
  </main>
  
  </div> 

  {% include "components/snackbar.html" %}

  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-left">
          <a href="https://ctfd.io" class="footer-link">
            <span class="footer-text">{% trans %}Powered by NerdsLabs{% endtrans %}</span>
          </a>
        </div>
        <div class="footer-divider"></div>
      </div>
    </div>
  </footer>

  {% include "components/notifications.html" %}

  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
  
  {% block scripts %}
  {{ Assets.js("assets/js/page.js") }}
  {% endblock %}

  {{ Plugins.scripts }}

  {{ Configs.theme_footer }}
</body>

</html>
